<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308535871742-ja8le386upn0i1pt3f5q6td391020qjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308535871742-ja8le386upn0i1pt3f5q6td391020qjp</string>
	<key>API_KEY</key>
	<string>AIzaSyCpRYA2iLv1jxOxuOxol83FQlevYze-OA8</string>
	<key>GCM_SENDER_ID</key>
	<string>308535871742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.example.signin</string>
	<key>PROJECT_ID</key>
	<string>signin-8821f</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-8821f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308535871742:ios:e2faae740e968a9ea73daf</string>
</dict>
</plist>